Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
data=[4,8,15,16,23,42]
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
variable=[1,2,3,4,5,6,7,8,9,10]
import pandas as pd 
series=pd.Series(variable)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [13]:
import pandas as pd
data={
    "Name":['Alice','Bob','Claire'],
    "Age":[25,30,27],
    "Gender":['Female','Male','Female']
}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional table-like data structure with labeled rows and columns. It can be thought of as a collection of Pandas Series that share the same index. Each column of a DataFrame can be thought of as a Pandas Series, and each row can be thought of as a collection of values corresponding to the columns.

A Pandas Series, on the other hand, is a one-dimensional labeled array capable of holding any data type. It can be thought of as a single column of a DataFrame.

Here's an example to illustrate the difference between a Pandas Series and a DataFrame:

In [14]:
import pandas as pd

# create a Pandas Series
s = pd.Series([1, 2, 3, 4, 5], name="numbers")
print("Series:")
print(s)

# create a DataFrame
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

Series:
0    1
1    2
2    3
3    4
4    5
Name: numbers, dtype: int64
DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In the example, s is a Pandas Series that contains five integer values with a name "numbers". On the other hand, df is a Pandas DataFrame that contains three columns ("Name", "Age", and "Gender") and three rows with the given data. Each column of the DataFrame is a Pandas Series. The output shows that the Series and DataFrame have different structures and can hold different types of data.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of functions for manipulating data in a DataFrame. Here are some of the commonly used functions:

head(): Returns the first n rows of the DataFrame. Useful for getting a quick look at the data.

tail(): Returns the last n rows of the DataFrame. Useful for getting a quick look at the data.

info(): Provides a summary of the DataFrame, including the data types of each column and the number of non-null values.

describe(): Generates descriptive statistics for numerical columns in the DataFrame, including count, mean, standard deviation, minimum, and maximum values.

drop(): Removes rows or columns from the DataFrame.

sort_values(): Sorts the DataFrame by one or more columns.

groupby(): Groups the DataFrame by one or more columns and applies a function to each group.

pivot_table(): Creates a pivot table based on the DataFrame.

fillna(): Fills missing values in the DataFrame with a specified value.

merge(): Merges two DataFrames based on a common column.

Here's an example of how you might use one of these functions:

In [1]:
import pandas as pd

# create a DataFrame
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}
df = pd.DataFrame(data)

# sort the DataFrame by age in ascending order
df_sorted = df.sort_values(by="Age")

# print the sorted DataFrame
print(df_sorted)

     Name  Age  Gender
0   Alice   25  Female
2  Claire   27  Female
1     Bob   30    Male

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable in nature, while Panel is a deprecated data structure that is no longer recommended to use.

A mutable object is one that can be modified after it is created. In the case of Series and DataFrame, we can add, remove, or modify elements, columns, and rows after the object is created. This makes them very useful for data manipulation and analysis.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In Pandas, we can create a DataFrame using multiple Series. A Series is essentially a one-dimensional array-like object that can hold any data type. We can combine multiple Series into a DataFrame using the pd.concat() function.

Here's an example of how to create a DataFrame using multiple Series:

In [3]:
import pandas as pd

# create three Series
s1 = pd.Series([1, 2, 3], name="A")
s2 = pd.Series([4, 5, 6], name="B")
s3 = pd.Series([7, 8, 9], name="C")

# concatenate the Series into a DataFrame
df = pd.concat([s1, s2, s3], axis=1)

# print the DataFrame
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9